In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data.csv')

In [3]:
df.drop('ID', axis=1, inplace=True)

In [4]:
df['Datetime'] = df['Datetime'].str.split('-',expand=True)[0]

In [13]:
df.head()

,Datetime,CompanySymbol,OpenPrice,HighPrice,LowPrice,LastPrice,NumberOfNews,NumberOfTweets,AverageSentimentScoreNews,AverageSentimentScoreTweets,Lable
0,13 Mar 2019,3A,0.850,0.855,0.845,0.850,6,17,0.358816,0.622706,1
1,13 Mar 2019,A50CHIN-C22,0.140,0.145,0.120,0.135,17,31,0.173940,0.497162,0
2,13 Mar 2019,A50CHIN-C24,0.670,0.670,0.670,0.670,17,17,0.383985,0.739875,0
3,13 Mar 2019,A50CHIN-C26,0.000,0.000,0.000,0.430,7,34,0.695799,0.121841,0
4,13 Mar 2019,A50CHIN-C28,0.225,0.225,0.210,0.220,6,16,0.835790,0.462175,1

In [6]:
df.isna().sum()

Datetime         0
CompanySymbol    0
OpenPrice        0
HighPrice        0
LowPrice         0
LastPrice        0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350406 entries, 0 to 350405
Data columns (total 6 columns):
Datetime         350406 non-null object
CompanySymbol    350406 non-null object
OpenPrice        350406 non-null float64
HighPrice        350406 non-null float64
LowPrice         350406 non-null float64
LastPrice        350406 non-null float64
dtypes: float64(4), object(2)
memory usage: 16.0+ MB

In [8]:
df['NumberOfNews'] = np.random.randint(6,18, df.shape[0])

In [9]:
df['NumberOfTweets'] = np.random.randint(16,39, df.shape[0])

In [10]:
df['AverageSentimentScoreNews'] = np.random.uniform(0, 1, df.shape[0])

In [11]:
df['AverageSentimentScoreTweets'] = np.random.uniform(0, 1, df.shape[0])

In [12]:
df['Lable'] = np.random.randint(0,2, df.shape[0])

In [16]:
df.to_csv('the_data.csv')